<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body class="body">
    <div class="header">
        <p class="about">About.</p>
    </div>
    <div>
        <p class="chatbotwork">How does chatbot work?</p>
    </div>
    <div class="body_page">
        <div class="users_div">
            <div class="user_layout">
                <button class="button">
                    <img class="user_icon" src="{{ url_for('static', filename='css/Images/user_icon.png') }}">
                </button>
                <p class="info">Input from a user</p>
            </div>
        </div>
        <div class="send_icon">
            <img class="arrow_icon" src="{{ url_for('static', filename='css/Images/arrow_icon.png') }}">
        </div>
        <div class="request_div">
            <div>
                <button class="button">
                    <img class="request_icon" src="{{ url_for('static', filename='css/Images/request_icon.png') }}">
                </button>
                <p class="info">Send API request</p>
            </div>
        </div>
        <div class="send_icon">
            <img class="arrow_icon" src="{{ url_for('static', filename='css/Images/arrow_icon.png') }}">
        </div>
        <div class="chatgpt_div">
            <div>
                <button class="button">
                    <img class="chatgpt_icon" src="{{ url_for('static', filename='css/Images/chatgpt_icon.png') }}">
                </button>
                <p class="info">Analyze User's request</p>
            </div>
        </div>
        <div class="send_icon">
            <img class="arrow_icon" src="{{ url_for('static', filename='css/Images/arrow_icon.png') }}">
        </div>
        <div class="response_div">
            <div>
                <button class="button">
                    <img class="request_icon" src="{{ url_for('static', filename='css/Images/response_icon.png') }}">
                </button>
                <p class="info">Get API response</p>
            </div>
        </div>
    </div>
    <div class="user_chatbot_div">
        <button class="user_chatbot_button"><a href="{{ url_for('index') }}" target="_blank" class="user_chatbot_button_text">User chatbot</a></button>
    </div>
</body>
</html>