<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot_interface_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot_interface_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot_interface_left_section_body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot_interface_botton_header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    
</head>
<body class="body">
    <div class="header">
        <div class="header_left">
            <div>
                <img class="ai_icon" src="{{ url_for('static', filename='css/Images/chatbot.png') }}">
                <img class="python_icon" src="{{ url_for('static', filename='css/Images/python.png') }}">
                <img class="html_icon" src="{{ url_for('static', filename='css/Images/html.png') }}">
                <img class="css_icon" src="{{ url_for('static', filename='css/Images/css.png') }}">
                <img class="java_script_icon" src="{{ url_for('static', filename='css/Images/java_script.png') }}">
            </div>
        </div>
        <div class="header_center">
            <div class="header_center_text">
                <p class="home">Home</p>
                <p class="projects">Projects</p>
                <p class="about"><a href="{{ url_for('about') }}" class="about_link" target="_blank">About</a></p>
                <p class="contact">Contact</p>
            </div>
        </div>
        <div class="header_right">
            <a href="https://www.instagram.com/minh.lu_00/" target="_blank">
                <img class="instagram_icon" src="{{ url_for('static', filename='css/Images/instagram_icon.png') }}" >
            </a>
            <a href="https://github.com/MinhLuanLu" target="_blank">
                <img class="github_icon" src="{{ url_for('static', filename='css/Images/github_icon.png') }}" >
            </a>
            <a href="https://www.tiktok.com/@minh.lu_00" target="_blank">
                <img class="tiktok_icon" src="{{ url_for('static', filename='css/Images/tiktok_icon.png') }}" >
            </a>
            <a href="https://www.linkedin.com/in/minh-luan-lu/" target="_blank">
                <img class="linkedin_icon" src="{{ url_for('static', filename='css/Images/linkedin_icon.png') }}" >
            </a>
        </div>      
    </div>
    <div class="body_page">
        <div class="left_section_body">
            <div class="text_section">
                <h3 class="title">ChatInquire</h3>
                <p class="description">Where questions find their answers through conversation. Unleash the power of interactive Q&A with our user-friendly chatbot. Engage in meaningful dialogues and receive accurate, concise responses, all in real time. Embrace the simplicity of obtaining information as if you were having a chat with a friend. Welcome to a new era of knowledge exchange.</p>
            </div>
        </div>
        <div class="center_section">
            <div class="screen">
                <form method="post" action="{{ url_for('index') }}">  <!-- Use 'post' method and specify the action URL -->
                    <input class="user_input" name="id" placeholder="Message">
                    <button type="submit" class="share_button" onclick="
                         search_click();

                    ">
                        <img class="share_button_image" src="{{ url_for('static', filename='css/Images/share_icon.png')}}">
                    </button>
                </form>
                <div class="output_window">
                    <div class="User_question">
                        <p class="question_text">{{ user_input }}</p>
                    </div>
                    <div>
                        <div class="chatbot_answer">
                        {% if chat_response %}
                            <p class="chat_response">{{ chat_response }}</p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="botton_header">
        <div class="botton_header_left">
            <div class="botton_header_left_info">
                <p class="creator">Creator: Minh Luan Lu</p>
                <p class="mail">Mail: minhlu14206@gmail.com</p>
                <p class="education">Education: Aarhustech</p>
            </div>
        </div>
        <div class="botton_header_center">
            <div class="botton_header_center_text">
                <p>Copyright © 2023 Text, Inc. All rights reserved</p>
                <p>Hi! We are glad to have you on our website! Before you start using our website, please note that we use cookies and similar technologies to enhance your website experience, analyze traffic and usage, personalize content to your preferences, and assist in our marketing efforts. By using our website, you consent to allow us, and our partners, to collect, use, retrieve, and store cookies and similar technologies on your computer or other devices. You can revoke your consent at any time in your computer/device browser settings. Click the Cookies Policy to check how you can control the use of cookies through your device. Your data will be processed in accordance with our Privacy Policy.</p>
            </div>
        </div>
        <div class="botton_header_right"></div>
    </div>
</body>
</html>
