.botton_header{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 140px;
    bottom: -190px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(3px);

}

.botton_header_left{
    display: flex;
    width: 400px;
}

.botton_header_center{
    display: flex;
    flex: 1;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.botton_header_right{
    display: flex;
    width: 300px;
    height: 80px;
}

.botton_header_left_info{
    color: white;
    font-size: 15px;
    padding-left: 150px;
    font-family: 'Quicksand', sans-serif;
    line-height: 15px;
}

.creator{
    transition: opacity 0.5s
                line-height 0.5s;
}

.creator:hover{
    opacity: 0.7;
    cursor: pointer;
    line-height: 13px;
}

.mail{
    transition: opacity 0.5s,
                line-height 0.5s;;
}

.mail:hover{
    opacity: 0.7;
    cursor: pointer;
    line-height: 13px;
}

.education{
    transition: opacity 0.5s,
                line-height 0.5s;;
}

.education:hover{
    opacity: 0.7;
    cursor: pointer;
    line-height: 13px;
}


.botton_header_center_text{
    display: block;
    color: white;
    font-size: 10px;
    padding-left: 150px;
    font-family: 'Quicksand', sans-serif;
    transition: line-height 0.5s,
                margin-top 0.5s;
}

.botton_header_center_text:hover{
    line-height: 15px;
    cursor: pointer;
    margin-top: -5px;
}

@media(max-width:1600px){
    .botton_header_right{
        width: auto;
    }

    .botton_header_left{
        margin-top: -50px;
    }

    .botton_header_center{
        margin-top: -80px;
    }
}